.box{
    width: 200px;
    height: 200px;
    background: red;
    border: 5px solid black;
}

.box2{
    width: 90% auto;
    height: 500px;
    background: green;
    border: 2px solid red;
    height: inherit;
}

/*
 height=Inherit ;
 max-width=;
 man-width=;
 */