div{
    width: 50px;
    height: 50px;
    background: greenyellow;
    border: 5px solid black;

}
div:hover{
    /* transform: translate(25px, 20px); */
    /* transform: rotate(-160deg); */
    /* transform: scale(2,4); */
    transform: skew(25deg);
}