*{
    margin: 0;
    padding: 0;
/* }
.tbl{
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 100px auto;
}
.tbl th,
.tbl td{
    border: 2px solid black;
    border-collapse: collapse;
} */

table{
    width: 95%;
    /* height: 100px; */
    overflow: hidden;
}
table,th,td{
    border: 2px solid blue;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: center;
}

th{
    height: 40px;
    background-color: blueviolet;
    color: white;
    border: 2px solid gold;

}
th:hover{
    background: rgb(0, 0, 0);
}
td{

    background: greenyellow;
    border: 2px solid red;
}
td:hover{

    background: goldenrod;
}
div{
    width: 90%px;
    height: 200px;
    overflow: auto;
    /* overflow-x/y=hidden/auto */
}